<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Цитаты</title>
    <!--Подключаем CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <!--Создаем блок класса "container" для формы-->
    <div class="container">
        <h1>Вы хотите получить цитату?</h1>
        <!--Создаем форму, состоящую из одной кнопки, с методом POST, чтобы инициировать запрос-->
        <form method="POST" action="/">
            <button type="submit" class="btn btn-primary">Получить цитату</button>
        </form>
        <hr>
       <!--Используем цикл for, чтобы публиковать цитаты-->
        <h3>Цитаты</h3>
        {% for quote in quotes %}
       <!--Создаем отдельный блок, внутри которого формируем карточку цитаты-->
        <div class="card">
            <p><b>Цитата:</b> {{quote.quote}}</p>
            <p><b>Автор:</b> {{quote.author}}</p>
            <p><b>Категория:</b> {{quote.category}}</p>
        </div>
        {% endfor %}
    </div>
    <!--Подключаем Bootstrap для стилизации-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>